
body{
    background-color:gainsboro;
    font-size: 1.5rem;
}
tr,td,table{
    text-align:left;
    background-color:#D8BFD8;
    border:1px #A3A3FF solid;
    border-collapse: collapse;
    /*框框水平置中*/
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
th{
    text-align:center;
}
.Container{
    width: 700px;
    /*所有內容置中*/
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.Box{
    background-color:#D8BFD8;
    width:11rem;
    height:13rem;
    display:inline-block;/*在一行中呈現*/
}
.Head{
    text-align: center;
}


@media  screen and (max-width:700px) {
    .Container{
        width:100%;
    }
}